@keyframes putar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gambar-slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    90% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 23.3ch;
    }
}

@keyframes crow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate(-100%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes roket {
    0% {
        transform: translateY(-100%);
    } 100%{
        transform: translateY(0);
    }
}