.isi-form input[type=text],
.isi-form select,
.isi-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}
.isi-form input[type=file] {
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
}
.tidak-valid {
    border: 1px solid red;
    background-color:rgb(252, 209, 209);
}
.tidak-valid-feedback {
    font-size: 12px;
    color: red;
}
.isi-form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.isi-form button[type=submit],
.isi-form input[type=submit] {
    background-color: #00e490;
    color: white;
    margin: 10px 0px 0px 0px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: all 1s ease-in-out;
}
button[type=submit]:hover,
input[type=submit]:hover {
    background-color: #8cb98e;
}

.isi-form {
    padding: 10px;
}

.isi-form .kolom-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.isi-form select option{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.isi-form img {
    margin: 0;
    width: 50%;
}

.isi-form .kolom-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the kolomumns */
.isi-form .baris:after {
    content: "";
    display: table;
    clear: both;
}
.pencarian {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 10px auto;
}
.pencarian input[type=text] {
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}
.pencarian button {
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    width: 50px;
    cursor: pointer;
    background-color: burlywood;
}
@media screen and (max-width: 600px) {
    input[type=file] {
        width: 100%;
    }
    .isi-form .kolom-25,
    .isi-form .kolom-75,
    input[type=submit] {
        width: 100%;
        margin: 5px 0 5px 0;
    }
    .isi-form img {
        width: 100%;
    }
    .pencarian input[type=text] {
        width: 75%;
    }
}