article {
    width: 65%;
    height: 60vh;
    margin: 0 auto 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
    animation: fade 1s;
    transition: all 1s ease-in-out;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: auto;
}
/* gambar */
article .banner {
    display: block;
    width: 300px;
    margin: -130px auto 0px auto;
}
article .gambar {
    width: 60%;
    display: block;
    margin: 10px auto 10px auto;
}
article .listrik {
    width: fit-content;
    height: 50vh;
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 20px;
}
/* =========================== */
/* Teks */
article p {
    text-align: justify;
    font-size: 2.5vh;
    padding: 0px 0px 10px 0px;
}
article .post-info {
    color: darkslategrey;
    text-align: right;
}
article h2 {
    text-align: center;
}
article .panjang-text {
    text-align: justify;
    overflow: hidden;
    height: 55px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


@font-face {
    font-family: 'pacifico';
    src: url('../../font/Pacifico.ttf');
}
/* garis */
article hr {
    margin: 10px 0px 10px 0px;
}

@media screen and (max-width: 800px) {
    article {
        width: 95%;
    }
    article .gambar {
        width: 80%;
    }
}
@media screen and (max-width: 575px) {
    article .gambar {
        width: 100%;
    }
}