table {
    width: 80%;
    margin: 0px auto 0px auto;
    border-collapse: collapse;
}
.berita {
    width: min-content;
}
article .berita tr th,
article .berita tr td
{
    text-align: left;
    border: 0;
}

article .berita tr td a {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    font-weight: 700;
    border: 0;
    text-align: center;
}
article .berita tr td img {
    width: 300px;
    margin: 0 auto 0 auto;
    display: block;
}
table tr th,
table tr td {
    text-align: center;
    border: 2px solid black;
    padding: 15px 10px;
}
table tr td button,
table tr td a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 15px;
    background-color: chartreuse;
    border: 3px solid black;
    border-radius: 20px;
    color: black;
    transition: all 0.5s ease-in-out;
}
table tr td a:hover {
    background-color: cyan;
}
table tr td img {
    width: 140px;
    height: 100%;
}
table form input[type=text],
table form input[type=submit] {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}
table form input[type=submit] {
    background-color: cyan;
    transition: all 0.5s ease-in-out;
}
table form input[type=submit]:hover {
    background-color: yellow;
}
@media screen and (max-width: 800px) {
    table {
        width: 100%;
    }
    article .berita tr td img {
        width: 200px;
    }
}
@media screen and (max-width: 500px) {
    article .berita tr td img {
        width: 150px;
    }
}